{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'base/debug.css' %}">
  <title>Spotify Card Lyrics</title>
  
  <div class="test-ui">
    <div class="color_1" style="--color_1: {{ color_1 }}">1</div>
    <div class="color_2" style="--color_2: {{ color_2 }}">2</div>
    <div class="color_3" style="--color_3: {{ color_3 }}">3</div>
    <div class="color_4" style="--color_4: {{ color_4 }}">4</div>
  </div>

  
</head>
<body>
  
</body>
</html>